/* ------------- AVATAR - CUSTOM ----------------- */
#photogrpahers {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; 
    scroll-behavior: smooth;
    width: 100%;
}

.compo_avatar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.img_avatar_home {
    display: flex;
    justify-content: center;

    img {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        object-fit: cover;
    }
}


.title_avatar_home h2 {
    font-family: var(--font-default);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    color: $color-tertiary;
}

.gp_img_title_avatar a {
    text-decoration: none;
}

.localisation_avatar_home p {
    font-family: var(--font-default);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: $color-tertiary;
}

.tagline_avatar_home p {
    font-family: var(--font-default);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
    color: $color-black;
}

.price_avatar_home p {
    font-family: var(--font-default);
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
    color: $color-grey;
}

@media screen and (min-width: 768px) {

    #photographers {
        display: flex; 
        flex-wrap: wrap;
        scroll-behavior: smooth;
        justify-content: space-between;
        width: 100%;
    }

    .photographer-container {
        width: 25%;
        margin: 50px;
    }

    .title_avatar_home h2 {
        font-size: 36px;
    }
    .localisation_avatar_home p {
        font-size: 13px;
    }
    
    .tagline_avatar_home p {
        font-size: 12px;
    }
    
    .price_avatar_home p {
        font-size: 12px;
    }
}