.top-btn {
    display: none; 
    position: fixed; 
    top: 20px; 
    right: 115px;
    z-index: 99; 
    border: none; 
    outline: none; 
    background: $color-secondary; 
    color: white; 
    cursor: pointer; 
    padding: 10px; 
    border-radius: 10px;
    font-size: 13px; 

    &:hover {
        background-color: $color-primary;
    } 
}
  

@media screen and (min-width: 768px) {
    
    .top-btn {
        display: none; 
        position: fixed; 
        top: 20px; 
        right: 50%;
        z-index: 99; 
        border: none; 
        outline: none; 
        background: $color-secondary; 
        color: white; 
        cursor: pointer; 
        padding: 10px; 
        border-radius: 10px;
        font-size: 13px; 
    
        &:hover {
            background-color: $color-primary;
        } 
    }
}