/* INFO BLOCK */

.infoblock-container {
    display: flex;
    justify-content: flex-end;
    bottom: 0;
    position: fixed;
    left: 57%;

}


.container-info {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; 
    margin-right: 10px; 
  
}

.price-info {
    width: 150px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: $color-secondary;
    border-radius: 5px;     
}

.info-likes {
    display: flex;
    flex-direction: row;
}

.info-likes i {
    color: $color-black;
}

@media screen and (min-width: 768px) {

    .infoblock-container {
        position: fixed;
        left: 72.5%;
        bottom: 0;
    }

    .price-info {
        width: 300px;
        height: 50px;
    }
    
}


