/* INFO BLOCK */

.container-info {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    bottom: 0;
    position: fixed;
    right: 5%;
    width: 150px;
    height: 35px;
    background: $color-secondary;
    border-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
 
    .info-likes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        i {
            color: $color-black;
            margin: 2%;
        }
    }
}

@media screen and (min-width: 768px) {

    .container-info {
        right: 10%;
    }
}

