/* -------------  TAG HOME NAVIGATION - CUSTOM ------------- */
.topBar-disposition {

    display: flex;
    flex-direction: column;
    width: 100%;
    
    .TopBar img {
        padding-top: 5%;
        padding-left: 6%;
        width: 40%;
    }
    
    .disposition {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 10%;

        .NavHome_tag {
            /*rectangle*/
            height: 22px;
            top: 355px;
            border: 0.5px solid $color-border;
            box-sizing: border-box;
            border-radius: 11px;
            padding-inline-start: 5px;
            padding-inline-end: 5px;
            
            /*typography*/
            font-family: var(--font-default);
            font-style: normal;
            text-align: center;
            font-weight: 500;
            font-size: 12px;
            line-height: 23px;
            color: $color-primary;
            margin: 2px;
            list-style: none;
        
            a {
                text-decoration: none;
                color: $color-primary;
            }
        }
        
        .NavHome_tags {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        h1 {
            font-family: var(--font-default);
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1em;
            text-align: right;
            color: $color-primary;
            margin-top: -8%;
            margin-bottom: 10%;
            padding-right: 6%;
        }
    }

}


@media screen and (min-width: 768px) {

    .topBar-disposition {
        display: flex;
        flex-direction: row;
        width: 90%;
        padding-top: 5%;

        .TopBar img {
            padding-top: 0%;
            padding-left: 3%;
            width: 80%;
        }

        .disposition {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            width: 80%;

            h1 {
                font-family: var(--font-default);
                font-size: 2rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1em;
                text-align: right;
                color: $color-primary;
                margin-bottom: 0%;
                padding-right: 0%;
                padding-left: 10%;
                margin-top: 0%;
            }
        }
    }
}   