/* ------------- PROFIL PAGE  -------------------- */ 

.global_presentation {
    display: flex;
    flex-direction: row;
    width: 100%;

    .gp_presentation {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 5%;

        .title_avatar_page {
            font-family: var(--font-default);
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: 47px;
            letter-spacing: 0em;
            text-align: left;
            color: $color-tertiary;
        }
        
        .localisation_avatar_page {
            font-family: var(--font-default);
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
            color: $color-primary;
        }
        
        .tagline_avatar_home_page {
            font-family: var(--font-default);
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
            color: $color-grey;
            margin-bottom: 4%;
        }
        
        .tag_profil {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
    }

    .imgpresentation {
        margin-right: 4%;
        img {
            width: 90px;
            height: 90px;
            border-radius: 100%;
            object-fit: cover;
            align-items: center;
        } 
    }
}




// @media screen and (min-width: 768px) {

//     .global_presentation {
//         width: 100%; 
//         margin-bottom: 10%;
//         height: 313px;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;

//         .profil-container {
//             background-color: #FAFAFA;
//         }
    
//         .title_avatar_page {
//             font-size: 36px;
//             margin-bottom: 9px;
//             width: 110%;
//         }
    
//         .gp_presentation {
//             margin-left: 10%;
//         }
    
//         .localisation_avatar_page {
//             font-size: 13px;
//             margin-bottom: 13px;
//         }
        
//         .tagline_avatar_home_page {
//             font-size: 13px;
//         }
        
    
//         .img_avatar_page {
//             display: flex;
//             justify-content: center;
//             padding-right: 5%;
        
//             img {
//                 width: 150px;
//                 height: 150px;
//                 margin-top: 0px;
//                 margin-top: 0px;
//             }
//         }
//     }
   
// }

