/* ------------- PROFIL PAGE  -------------------- */ 

.title_avatar_page {
    font-family: var(--font-default);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    color: $color-tertiary;
    margin-left: 5%;
    width: 50%;
}

.localisation_avatar_page {
    font-family: var(--font-default);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: $color-primary;
    margin-left: 5%;
}

.tagline_avatar_home_page {
    font-family: var(--font-default);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: $color-grey;
    margin-left: 5%;
    margin-bottom: 4%;
}

.img_avatar_page {
    display: flex;
    justify-content: center;

    img {
        width: 90px;
        height: 90px;
        border-radius: 100%;
        object-fit: cover;
        margin-top: -180px;
        margin-left: 220px;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {

    .profil-container {
        width: 1240px;
        height: 313px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #FAFAFA;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    .title_avatar_page {
        font-size: 36px;
        margin-top: 5%;
        width: 100%;
    }

    .gp_presentation {
        margin-left: 25%;
    }

    .localisation_avatar_page {
        font-size: 13px;
    }
    
    .tagline_avatar_home_page {
        font-size: 13px;
    }
    

    .img_avatar_page {
        display: flex;
        justify-content: center;
    
        img {
            width: 150px;
            height: 150px;
            margin-top: -2%;
            margin-left: 550px;
        }
    }
   
}

