/* ------------- PROFIL PAGE  -------------------- */ 

.global_presentation {
    display: flex;
    flex-direction: row;
    width: 100%;

    .gp_presentation {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 5%;

        .title_avatar_page {
            font-family: var(--font-default);
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: 47px;
            letter-spacing: 0em;
            text-align: left;
            color: $color-tertiary;
        }
        
        .localisation_avatar_page {
            font-family: var(--font-default);
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
            color: $color-primary;
        }
        
        .tagline_avatar_home_page {
            font-family: var(--font-default);
            font-size: 13px;
            font-style: normal;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
            color: $color-grey;
            margin-bottom: 4%;
        }
        
        .tag_profil {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }
    }

    .imgpresentation {
        margin-right: 4%;

        img {
            width: 90px;
            height: 90px;
            border-radius: 100%;
            object-fit: cover;
            align-items: center;
        } 
    }
}



@media screen and (min-width: 768px) {

    .global_presentation {
        background-color: #FAFAFA;
        padding-top: 4%;
        padding-bottom: 4%;
        margin-bottom: 5%;
        max-width: 90%;
        justify-content: space-around;
        margin-left: 5%;
    
        .gp_presentation {
            margin-left: 2%;
    
            .title_avatar_page {
                font-size: 36px;
                padding-bottom: 2%;
            }

            .localisation_avatar_page {
                font-size: 13px;
                padding-bottom: 1%;
            }

            .tagline_avatar_home_page {
                font-size: 13px;
            }

        }
    
        .imgpresentation {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-right: 2%;
    
            img {
                width: 110px;
                height: 110px;
            } 
        }
    }  
}

