/* ------------------ Select ---------------------- */

.select-container {
    margin-bottom: 20px;
}

.select_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15px;

    p {
        margin-right: 10px;
        font-family: var(--font-default);
        font-size: 13px;
    }
}




@media screen and (min-width: 768px) {

    .select-container {
        width: 90%;
    }

    .select_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 50px;
        padding: 20px;
    
        p {
            margin-right: 10px;
            font-family: var(--font-default);
            font-size: 15px;
        }
    }

    .select-search {
        background-color: $color-primary;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 5px;
        color: $color-textwhite;
        font-family: var(--font-default);
        font-size: 14px;
        border: none;

        option {
            background-color: $color-primary;
            color: $color-textwhite;
        }

    }

}

