/* TAG - CUSTOM */

.tag_appli a {
    /*rectangle*/
    height: 22px;
    top: 355px;
    border: 0.5px solid $color-border;
    box-sizing: border-box;
    border-radius: 11px;
    padding-inline-start: 5px;
    padding-inline-end: 5px;
    /*typography*/
    text-decoration: none;
    font-family: var(--font-default);
    font-style: normal;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 23px;
    color: $color-primary;
    margin: 2px;
}

.tag_appli li {
    list-style: none;
}

.tag_appli ul {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5%;
}
