/* TAG - CUSTOM */

.tag_appli li {
    /*rectangle*/
    width: 81px;
    height: 22px;
    top: 355px;
    border: 0.5px solid $color-border;
    box-sizing: border-box;
    border-radius: 11px;
    /*typography*/
    list-style: none;
    left: 1.12%;
    right: -33.24%;
    top: 87.5%;
    bottom: -1.5%;
    font-family: var(--font-default);
    font-style: normal;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 23px;
    color: $color-primary;
    margin: 2px;
}

.tag_appli ul {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-inline-start: 0px;
    margin-bottom: 5%;
}