/* -------------  TAG HOME NAVIGATION - CUSTOM ------------- */

.NavHome_tag {
    /*rectangle*/
    width: 81px;
    height: 22px;
    top: 355px;
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 11px;
    
    /*typography*/
    left: 1.12%;
    right: -33.24%;
    top: 87.5%;
    bottom: -1.5%;
    font-family: var(--font-default);
    font-style: normal;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 23px;
    color: #911C1C;
    margin: 2px;
    list-style: none;
}

.NavHome_tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-inline-start: 0px;
}