body {
    font-family: DM-Sans, sans-serif;
}

body h1 {
    font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: center;
color:#901C1C;

}

/* -------------  TAG HOME NAVIGATION - CUSTOM ------------- */

.NavHome_tag {
    /*rectangle*/
    width: 81px;
    height: 22px;
    top: 355px;
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 11px;
    
    /*typography*/
    text-decoration: none;
    left: 1.12%;
    right: -33.24%;
    top: 87.5%;
    bottom: -1.5%;
    font-family: DM Sans;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 23px;
    color: #911C1C;
    margin: 2px;
}

/* .NavHome_tags {
    text-decoration: none;
}  */

.NavHome_tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


/* ------------- AVATAR - CUSTOM ----------------- */

.img_avatar_home {
    display: flex;
    justify-content: center;
}

.img_avatar_home img {
   width: 200px;
   height: 200px;
   border-radius: 100%;
   object-fit: cover;
}

.title_avatar_home h2 {
    font-family: DM Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: -3px;
    /* line-height: 47px; */
    letter-spacing: 0em;
    text-align: center;
    color: #D3573C;
}

.gp_img_title_avatar {
    /* margin-bottom: -50px; */
    border: 0.5px dashed red;

}

.localisation_avatar_home p {
    font-family: DM Sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #D3573C;
}

.tagline_avatar_home p {
    font-family: DM Sans;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
}

.price_avatar_home p {
    font-family: DM Sans;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
    color: #757575;
}

/*  TAG - CUSTOM */

.tag_appli li {
    /*rectangle*/
    width: 81px;
    height: 22px;
    top: 355px;
    border: 0.5px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 11px;
    
    /*typography*/
    text-decoration: none;
    left: 1.12%;
    right: -33.24%;
    top: 87.5%;
    bottom: -1.5%;
    font-family: DM Sans;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 23px;
    color: #911C1C;
}

.tag_appli ul{
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}




