@charset "UTF-8";
/*liens vers les différents fichiers .scss*/
/*---------------------------- VARIABLES ----------------------------------*/
:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --font-slab: var(--font-default);
  --modal-duration: 0.8s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*---------------------------- BODY ----------------------------------*/
body {
  font-family: var(--font-default);
}
body .maxcontainer {
  max-width: 1280px;
  margin: auto;
}

/* ------------- AVATAR - CUSTOM ----------------- */
#photogrpahers {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
  width: 100%;
}

.compo_avatar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.img_avatar_home {
  display: flex;
  justify-content: center;
}
.img_avatar_home img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
}

.title_avatar_home h2 {
  font-family: var(--font-default);
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;
  color: #D3573C;
}

.gp_img_title_avatar a {
  text-decoration: none;
}

.localisation_avatar_home p {
  font-family: var(--font-default);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #D3573C;
}

.tagline_avatar_home p {
  font-family: var(--font-default);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
}

.price_avatar_home p {
  font-family: var(--font-default);
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
  color: #757575;
}

@media screen and (min-width: 768px) {
  #photographers {
    display: flex;
    flex-wrap: wrap;
    scroll-behavior: smooth;
    justify-content: space-between;
    width: 100%;
  }

  .photographer-container {
    width: 25%;
    margin: 50px;
  }

  .title_avatar_home h2 {
    font-size: 36px;
  }

  .localisation_avatar_home p {
    font-size: 13px;
  }

  .tagline_avatar_home p {
    font-size: 10px;
  }

  .price_avatar_home p {
    font-size: 9px;
  }
}
/* ------------------ Select ---------------------- */
.select_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 5%;
  margin-bottom: 5%;
  max-width: 90%;
}
.select_container p {
  margin-right: 10px;
  font-family: var(--font-default);
  font-size: 13px;
}
.select_container .select-search {
  padding: 0;
  margin: 0;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #901C1C;
  background: #901C1C;
  position: relative;
  color: #fff;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .select_container {
    margin-left: 5%;
    max-width: 80%;
  }
  .select_container p {
    font-size: 15px;
  }
}
.lightbox {
  overflow: hidden;
  width: 100%;
  margin: auto;
  position: relative;
  display: none;
}
.lightbox .contentbgd {
  width: 100vw;
  background: white;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}
.lightbox .lightboxbground {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  overflow: auto;
}
.lightbox .lightboxbground .button-lightboxclosed {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.lightbox .lightboxbground .button-lightboxclosed .lightbox-btn-close {
  border: none;
  font-size: 25px;
  color: #901C1C;
  padding: 15px;
  border-radius: 5px;
  background: none;
  cursor: pointer;
}
.lightbox .lightboxbground .lightbox-container {
  position: fixed;
  left: 11.5%;
  top: 32%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
}
.lightbox .lightboxbground .lightbox-controls {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  width: calc(100% - 50px);
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  width: 100%;
  z-index: 20;
}
.lightbox .lightboxbground .lightbox-controls .lightbox-btn-next {
  border: none;
  font-size: 25px;
  color: #901C1C;
  background: none;
  cursor: pointer;
}
.lightbox .lightboxbground .lightbox-controls .lightbox-btn-prev {
  border: none;
  font-size: 25px;
  color: #901C1C;
  background: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .lightbox {
    width: 100%;
  }
  .lightbox .lightboxbground .lightbox-controls .lightbox-btn-next {
    padding-right: 15px;
  }
  .lightbox .lightboxbground .lightbox-controls .lightbox-btn-prev {
    padding-left: 15px;
  }
}
/* INFO BLOCK */
.container-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  position: fixed;
  right: 5%;
  width: 150px;
  height: 35px;
  background: #DB8876;
  border-radius: 5px;
  padding-left: 3px;
  padding-right: 3px;
}
.container-info .info-likes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container-info .info-likes i {
  color: #000000;
  margin: 2%;
}

@media screen and (min-width: 768px) {
  .container-info {
    right: 10%;
  }
}
/* CARD IMG */
.card_main {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 15px;
}
.card_main .cardimg {
  text-decoration: none;
}
.card_main .cardimg .card_img img {
  width: 100%;
  height: 190px;
  border-radius: 5px;
  object-fit: cover;
  text-align: center;
  cursor: pointer;
}
.card_main .cardimg .card_img video {
  width: 100%;
  height: 190px;
  border-radius: 5px;
  object-fit: cover;
  text-align: center;
  cursor: pointer;
}
.card_main .cardimg .like_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
  justify-content: flex-end;
  margin-top: -8%;
}
.card_main .cardimg .like_card .card_likes {
  font-family: var(--font-default);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: right;
  color: #901C1C;
}
.card_main .cardimg .like_card .likes-btn {
  border: none;
  background: none;
  margin-top: -10px;
  cursor: pointer;
}
.card_main .cardimg .like_card .likes-btn .fa-heart {
  color: #901C1C;
  padding-left: 5px;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    padding: 0;
    margin-left: 5%;
  }
  .cards .card_main {
    margin-left: 0%;
    margin-bottom: 15px;
    width: 100%;
  }
  .cards .card_main .cardimg {
    text-decoration: none;
    width: 100%;
  }
  .cards .card_main .cardimg .card_img img {
    width: 350px;
    height: 300px;
  }
  .cards .card_main .cardimg .card_img video {
    width: 350px;
    height: 300px;
  }
}
/* BUTTON */
/* contact button */
.modal-btn {
  height: 35px;
  width: 170px;
  margin-left: 2%;
  top: 590px;
  border-radius: 5px;
  border: none;
  background-color: #901C1C;
  color: white;
  cursor: pointer;
  position: fixed;
  z-index: 1;
}
.modal-btn:hover {
  background-color: #DB8876;
}

.button-block {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* submit button */
.modalvalid-btn {
  height: 35px;
  width: 170px;
  left: 103px;
  top: 747px;
  border-radius: 5px;
  border: none;
  background-color: #901C1C;
  color: white;
  cursor: pointer;
}
.modalvalid-btn:hover {
  background-color: #DB8876;
}

.button-block-valid {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.modal-btn-submit {
  height: 35px;
  width: 170px;
  left: 103px;
  top: 747px;
  border-radius: 5px;
  border: none;
  background-color: #901C1C;
  color: white;
  cursor: pointer;
}

.button-block-closed-valid {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

/* closed button */
.button-block-closed {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.modal-btn-close {
  background-color: #DB8876;
  border: none;
  font-size: 25px;
  color: white;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}

/* MODAL */
.bground {
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  background: white;
  overflow: auto;
}

.content {
  width: 100%;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background-color: #DB8876;
  border-radius: 5px;
  display: none;
  overflow: hidden;
  z-index: 2;
  position: fixed;
  color: #fff;
  padding-top: 10px;
  top: 2%;
}

fieldset {
  border: none;
}

.title-modal {
  height: 47px;
  width: 253px;
  left: 17px;
  top: 10px;
  font-family: var(--font-default);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-left: 15px;
  margin-bottom: 55px;
  margin-top: -65px;
}

input::placeholder {
  font-family: var(--font-default);
  font-size: 14px;
  font-weight: normal;
  padding-left: 10px;
}

label {
  font-family: var(--font-default);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: #312E2E;
  margin-left: 15px;
}

textarea {
  width: 338px;
  left: 15px;
  top: 279px;
  border-radius: 5px;
  background-color: white;
  border: none;
  margin-left: 15px;
  margin-bottom: 10px;
  font-family: var(--font-default);
  resize: none;
  padding-top: 15px;
  padding-left: 10px;
  overflow-y: scroll;
}

.text-control {
  height: 52px;
  width: 338px;
  left: 15px;
  top: 279px;
  border-radius: 5px;
  background-color: white;
  border: none;
  margin-left: 15px;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .modal-btn {
    height: 55px;
    width: 140px;
    top: 250px;
    position: absolute;
    margin-left: 12%;
  }

  .content {
    width: 669px;
    z-index: 2;
    position: fixed;
    padding-top: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  textarea {
    width: 599px;
    left: 15px;
    top: 279px;
    border-radius: 5px;
    background-color: white;
    border: none;
    margin-left: 30px;
    margin-bottom: 10px;
    font-family: var(--font-default);
    resize: none;
    padding-top: 15px;
    padding-left: 10px;
    overflow-y: scroll;
  }

  .text-control {
    height: 52px;
    width: 599px;
    left: 15px;
    top: 279px;
    border-radius: 5px;
    background-color: white;
    border: none;
    margin-left: 30px;
    margin-bottom: 10px;
  }

  label {
    margin-left: 30px;
  }

  .title-modal {
    margin-left: 30px;
  }

  .button-block-valid {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 30px;
  }
}
/* TAG - CUSTOM */
.tag_appli li {
  /*rectangle*/
  height: 22px;
  top: 355px;
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 11px;
  padding-inline-start: 5px;
  padding-inline-end: 5px;
  /*typography*/
  list-style: none;
  font-family: var(--font-default);
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 23px;
  color: #901C1C;
  margin: 2px;
}

.tag_appli ul {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5%;
}

/* -------------  TAG HOME NAVIGATION - CUSTOM ------------- */
.topBar-disposition {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.topBar-disposition .TopBar img {
  padding-top: 5%;
  padding-left: 6%;
  width: 40%;
}
.topBar-disposition .disposition {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 10%;
}
.topBar-disposition .disposition .NavHome_tag {
  /*rectangle*/
  height: 22px;
  top: 355px;
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 11px;
  padding-inline-start: 5px;
  padding-inline-end: 5px;
  /*typography*/
  font-family: var(--font-default);
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 23px;
  color: #901C1C;
  margin: 2px;
  list-style: none;
}
.topBar-disposition .disposition .NavHome_tag a {
  text-decoration: none;
  color: #901C1C;
}
.topBar-disposition .disposition .NavHome_tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.topBar-disposition .disposition h1 {
  font-family: var(--font-default);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1em;
  text-align: right;
  color: #901C1C;
  margin-top: -8%;
  margin-bottom: 10%;
  padding-right: 6%;
}

@media screen and (min-width: 768px) {
  .topBar-disposition {
    display: flex;
    flex-direction: row;
    width: 90%;
    padding-top: 5%;
  }
  .topBar-disposition .TopBar img {
    padding-top: 0%;
    padding-left: 3%;
    width: 80%;
  }
  .topBar-disposition .disposition {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
  }
  .topBar-disposition .disposition h1 {
    font-family: var(--font-default);
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1em;
    text-align: right;
    color: #901C1C;
    margin-bottom: 0%;
    padding-right: 0%;
    padding-left: 10%;
    margin-top: 0%;
  }
}
/* ------------- PROFIL PAGE  -------------------- */
.global_presentation {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.global_presentation .gp_presentation {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 5%;
}
.global_presentation .gp_presentation .title_avatar_page {
  font-family: var(--font-default);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  color: #D3573C;
}
.global_presentation .gp_presentation .localisation_avatar_page {
  font-family: var(--font-default);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #901C1C;
}
.global_presentation .gp_presentation .tagline_avatar_home_page {
  font-family: var(--font-default);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #757575;
  margin-bottom: 4%;
}
.global_presentation .gp_presentation .tag_profil {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.global_presentation .imgpresentation {
  margin-right: 4%;
}
.global_presentation .imgpresentation img {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  object-fit: cover;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .global_presentation {
    background-color: #FAFAFA;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-bottom: 5%;
    max-width: 90%;
    justify-content: space-around;
    margin-left: 5%;
  }
  .global_presentation .gp_presentation {
    margin-left: 2%;
  }
  .global_presentation .gp_presentation .title_avatar_page {
    font-size: 36px;
    padding-bottom: 2%;
  }
  .global_presentation .gp_presentation .localisation_avatar_page {
    font-size: 13px;
    padding-bottom: 1%;
  }
  .global_presentation .gp_presentation .tagline_avatar_home_page {
    font-size: 13px;
  }
  .global_presentation .imgpresentation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 2%;
  }
  .global_presentation .imgpresentation img {
    width: 110px;
    height: 110px;
  }
}
.top-btn {
  display: none;
  position: fixed;
  top: 20px;
  right: 124px;
  z-index: 2;
  border: none;
  outline: none;
  background: #DB8876;
  color: black;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  font-size: 13px;
}
.top-btn:hover {
  background-color: #901C1C;
  color: white;
}

@media screen and (min-width: 768px) {
  .top-btn {
    right: 45.5%;
    z-index: 2;
    justify-content: center;
  }
}
.TopBarProfil .header-png img {
  padding-top: 5%;
  padding-left: 6%;
  width: 40%;
}

@media screen and (min-width: 768px) {
  .TopBarProfil {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 90%;
    padding: 5%;
  }
  .TopBarProfil .header-png img {
    padding-top: 0%;
    padding-left: 0%;
    width: 80%;
  }
}
.mediacontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.mediacontainer .card_description {
  font-family: var(--font-default);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: #901C1C;
}

/*# sourceMappingURL=custom.css.map */
