@charset "UTF-8";
/*liens vers les différents fichiers .scss*/
/*---------------------------- VARIABLES ----------------------------------*/
:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --font-slab: var(--font-default);
  --modal-duration: 0.8s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*---------------------------- BODY ----------------------------------*/
body {
  font-family: var(--font-default);
}

body h1 {
  font-family: var(--font-default);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  color: #901C1C;
  margin-top: -29%;
  margin-left: 175px;
  margin-bottom: 110px;
}

.header-png img {
  height: 37.5px;
  width: 150px;
  border-radius: 0px;
  margin-top: 10%;
  margin-bottom: 10%;
}

.maxcontainer {
  max-width: 1280px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  body h1 {
    font-size: 36px;
    text-align: right;
    margin-bottom: 3%;
    margin-top: 3%;
    margin-right: 2%;
    margin-left: -2px;
  }

  .header-png img {
    height: 37.5px;
    width: 150px;
    margin-top: 15%;
    margin-bottom: 10%;
  }
}
/* ------------- AVATAR - CUSTOM ----------------- */
#photogrpahers {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
  width: 100%;
}

.compo_avatar {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
}

.img_avatar_home {
  display: flex;
  justify-content: center;
}
.img_avatar_home img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
}

.title_avatar_home h2 {
  font-family: var(--font-default);
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;
  color: #D3573C;
}

.gp_img_title_avatar a {
  text-decoration: none;
}

.localisation_avatar_home p {
  font-family: var(--font-default);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: #D3573C;
}

.tagline_avatar_home p {
  font-family: var(--font-default);
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
}

.price_avatar_home p {
  font-family: var(--font-default);
  font-size: 9px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
  color: #757575;
}

@media screen and (min-width: 768px) {
  #photographers {
    display: flex;
    flex-wrap: wrap;
    scroll-behavior: smooth;
    justify-content: space-between;
    width: 100%;
  }

  .photographer-container {
    width: 25%;
    margin: 50px;
  }

  .title_avatar_home h2 {
    font-size: 36px;
  }

  .localisation_avatar_home p {
    font-size: 13px;
  }

  .tagline_avatar_home p {
    font-size: 10px;
  }

  .price_avatar_home p {
    font-size: 9px;
  }
}
/* ------------------ Select ---------------------- */
.select-container {
  margin-bottom: 20px;
}

.select_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
}
.select_container p {
  margin-right: 10px;
  font-family: var(--font-default);
  font-size: 13px;
}
.select_container .select-search {
  padding: 0;
  margin: 0;
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #901C1C;
  background: #901C1C;
  position: relative;
  color: #fff;
}
.select_container .select-search select {
  padding: 5px 8px;
  border: none;
  box-shadow: none;
  background-color: #901C1C;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.select_container .select-search select:focus {
  outline: none;
}
.select_container .select-search:after {
  top: 50%;
  left: 85%;
  border: none;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  background-color: #901C1C;
  border-width: 5px;
  margin-top: -2px;
  z-index: 100;
}

@media screen and (min-width: 768px) {
  .select-container {
    width: 100%;
  }

  .select_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 45px;
    margin-left: 0%;
  }
  .select_container p {
    margin-right: 10px;
    font-family: var(--font-default);
    font-size: 15px;
  }
  .select_container .select-search {
    padding: 0;
    margin: 0;
    border: none;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #901C1C;
    background: #901C1C;
    position: relative;
    color: #fff;
  }
  .select_container .select-search select {
    padding: 5px 8px;
    border: none;
    box-shadow: none;
    background-color: #901C1C;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .select_container .select-search select:focus {
    outline: none;
  }
  .select_container .select-search:after {
    top: 50%;
    left: 85%;
    border: none;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    background-color: #901C1C;
    border-width: 5px;
    margin-top: -2px;
    z-index: 100;
  }
}
/* LIGHTBOX */
/* closed button */
.button-lightboxclosed {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.lightbox-btn-close {
  border: none;
  font-size: 25px;
  color: #901C1C;
  padding: 15px;
  border-radius: 5px;
  background: none;
}

/* prev/next button */
.lightbox-controls {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  width: calc(100% - 50px);
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  width: 100%;
  z-index: 16;
}

.lightbox-btn-next {
  border: none;
  font-size: 25px;
  color: #901C1C;
  background: none;
}

.lightbox-btn-prev {
  border: none;
  font-size: 25px;
  color: #901C1C;
  background: none;
}

/* lightbox */
.lightbox {
  overflow: hidden;
  width: 80%;
  margin: auto;
  position: relative;
  display: none;
}

.lightboxbground {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  overflow: auto;
}

.contentbgd {
  width: 100vw;
  background: #232323;
  opacity: 0.9;
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}

.lightbox-container {
  position: fixed;
  width: 80%;
  height: 100%;
  left: 10%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
}

.lightbox-container-description {
  z-index: 29;
  font-family: var(--font-default);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: #901C1C;
}

.lightbox-container-img {
  display: flex;
  transition: transform 0.5s ease;
  flex-direction: row;
  flex-wrap: nowrap;
  z-index: 5;
  width: 100%;
  margin: auto;
}

.lightbox-container-img img {
  width: 100%;
  object-fit: cover;
  text-align: center;
  border-radius: 5px;
}

.lightbox-container-img video {
  width: 100%;
  object-fit: cover;
  text-align: center;
  border-radius: 5px;
}

@media screen and (min-width: 768px) {
  .lightbox-container {
    position: fixed;
    width: 80%;
    height: 100%;
    overflow: hidden;
    left: 10%;
    margin: auto;
  }

  .lightbox-container-img {
    display: flex;
    transition: transform 0.5s ease;
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 5;
    width: 100%;
    height: 80%;
  }
}
/* INFO BLOCK */
.container-info {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-right: 10px;
  bottom: 0;
  position: fixed;
  right: 0;
}

.price-info {
  width: 150px;
  height: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #DB8876;
  border-radius: 5px;
}

.info-likes {
  display: flex;
  flex-direction: row;
}

.info-likes i {
  color: #000000;
}

@media screen and (min-width: 768px) {
  .container-info {
    position: fixed;
    right: 5.5%;
    bottom: 0;
  }

  .price-info {
    width: 300px;
    height: 50px;
  }
}
/* CARD IMG */
.cardimg {
  text-decoration: none;
}

.card_main {
  width: 95%;
  margin-left: 10px;
  margin-bottom: 15px;
}

.card_legend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.card_description {
  font-family: var(--font-default);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: #901C1C;
}

.like {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
}

.fa-heart {
  color: #901C1C;
  padding-left: 5px;
  font-size: 16px;
}

.card_likes {
  font-family: var(--font-default);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: right;
  color: #901C1C;
}

.likes-btn {
  border: none;
  background: none;
  margin-top: -10px;
}

.card_img img {
  width: 100%;
  height: 190px;
  border-radius: 5px;
  object-fit: cover;
  text-align: center;
}

.card_img video {
  width: 100%;
  height: 190px;
  border-radius: 5px;
  object-fit: cover;
  text-align: center;
}

@media screen and (min-width: 768px) {
  #photograph {
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
  }

  .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 89%;
    padding: 0;
    margin-left: 4.7%;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
  }

  .card_legend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 350px;
  }

  .card_img img {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    text-align: center;
  }

  .card_img video {
    width: 350px;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
    text-align: center;
  }
}
/* BUTTON */
/* contact button */
.modal-btn {
  height: 35px;
  width: 170px;
  left: 103px;
  top: 590px;
  border-radius: 5px;
  border: none;
  background-color: #901C1C;
  color: white;
  cursor: pointer;
  position: fixed;
}
.modal-btn:hover {
  background-color: #DB8876;
}

.button-block {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* submit button */
.modalvalid-btn {
  height: 35px;
  width: 170px;
  left: 103px;
  top: 747px;
  border-radius: 5px;
  border: none;
  background-color: #901C1C;
  color: white;
  cursor: pointer;
}
.modalvalid-btn:hover {
  background-color: #DB8876;
}

.button-block-valid {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.modal-btn-submit {
  height: 35px;
  width: 170px;
  left: 103px;
  top: 747px;
  border-radius: 5px;
  border: none;
  background-color: #901C1C;
  color: white;
  cursor: pointer;
}

.button-block-closed-valid {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

/* closed button */
.button-block-closed {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.modal-btn-close {
  background-color: #DB8876;
  border: none;
  font-size: 25px;
  color: white;
  padding: 15px;
  border-radius: 5px;
}

/* MODAL */
.bground {
  height: 100vh;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  background: #232323;
  opacity: 0.6;
  overflow: auto;
}

.content {
  width: 100%;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background-color: #DB8876;
  border-radius: 5px;
  display: none;
  overflow: hidden;
  z-index: 2;
  position: fixed;
  color: #fff;
  padding-top: 10px;
  top: 3%;
}

fieldset {
  border: none;
}

.title-modal {
  height: 47px;
  width: 253px;
  left: 17px;
  top: 10px;
  font-family: var(--font-default);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
  margin-left: 15px;
  margin-bottom: 55px;
  margin-top: -65px;
}

input::placeholder {
  font-family: var(--font-default);
  font-size: 14px;
  font-weight: normal;
  padding-left: 10px;
}

label {
  font-family: var(--font-default);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
  color: #312E2E;
  margin-left: 15px;
}

textarea {
  height: 52px;
  width: 338px;
  left: 15px;
  top: 279px;
  border-radius: 5px;
  background-color: white;
  border: none;
  margin-left: 15px;
  margin-bottom: 10px;
  font-family: var(--font-default);
  resize: none;
  padding-top: 15px;
  padding-left: 10px;
  overflow-y: scroll;
}

.text-control {
  height: 52px;
  width: 338px;
  left: 15px;
  top: 279px;
  border-radius: 5px;
  background-color: white;
  border: none;
  margin-left: 15px;
  margin-bottom: 10px;
}

.form-group.error input, .form-group.error textarea {
  border: 1px solid red;
}

.form-group.error label {
  color: red;
}

.form-group.error::after {
  content: "Ce champs est invalide";
  display: block;
  color: red;
  padding: 5px 0;
  font-size: 0.9rem;
}

@media screen and (min-width: 768px) {
  .modal-btn {
    height: 55px;
    width: 140px;
    left: 570px;
    top: 210px;
    position: absolute;
  }

  .content {
    width: 669px;
    z-index: 2;
    position: fixed;
    padding-top: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  textarea {
    height: 52px;
    width: 599px;
    left: 15px;
    top: 279px;
    border-radius: 5px;
    background-color: white;
    border: none;
    margin-left: 30px;
    margin-bottom: 10px;
    font-family: var(--font-default);
    resize: none;
    padding-top: 15px;
    padding-left: 10px;
    overflow-y: scroll;
  }

  .text-control {
    height: 52px;
    width: 599px;
    left: 15px;
    top: 279px;
    border-radius: 5px;
    background-color: white;
    border: none;
    margin-left: 30px;
    margin-bottom: 10px;
  }

  label {
    margin-left: 30px;
  }

  .title-modal {
    margin-left: 30px;
  }

  .button-block-valid {
    display: flex;
    justify-content: flex-start;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 30px;
  }
}
/* TAG - CUSTOM */
.tag_appli li {
  /*rectangle*/
  width: 81px;
  height: 22px;
  top: 355px;
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 11px;
  /*typography*/
  list-style: none;
  left: 1.12%;
  right: -33.24%;
  top: 87.5%;
  bottom: -1.5%;
  font-family: var(--font-default);
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 23px;
  color: #901C1C;
  margin: 2px;
}

.tag_appli ul {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-inline-start: 0px;
  margin-bottom: 5%;
}

/* -------------  TAG HOME NAVIGATION - CUSTOM ------------- */
.container-header {
  display: flex;
  flex-direction: column;
}

.NavHome_tag {
  /*rectangle*/
  width: 81px;
  height: 22px;
  top: 355px;
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 11px;
  /*typography*/
  left: 1.12%;
  right: -33.24%;
  top: 87.5%;
  bottom: -1.5%;
  font-family: var(--font-default);
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 23px;
  color: #901C1C;
  margin: 2px;
  list-style: none;
}
.NavHome_tag a {
  text-decoration: none;
  color: #901C1C;
}

.NavHome_tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-inline-start: 0px;
}

@media screen and (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
/* ------------- PROFIL PAGE  -------------------- */
.title_avatar_page {
  font-family: var(--font-default);
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 47px;
  letter-spacing: 0em;
  text-align: left;
  color: #D3573C;
  margin-left: 5%;
  width: 50%;
}

.localisation_avatar_page {
  font-family: var(--font-default);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #901C1C;
  margin-left: 5%;
}

.tagline_avatar_home_page {
  font-family: var(--font-default);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #757575;
  margin-left: 5%;
  margin-bottom: 4%;
}

.img_avatar_page {
  display: flex;
  justify-content: center;
}
.img_avatar_page img {
  width: 90px;
  height: 90px;
  border-radius: 100%;
  object-fit: cover;
  align-items: center;
  margin-top: -153px;
  margin-left: 250px;
}

@media screen and (min-width: 768px) {
  .profil-container {
    width: 100%;
    height: 313px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAFAFA;
    margin-bottom: 35px;
  }

  .title_avatar_page {
    font-size: 36px;
    margin-top: 5%;
    margin-bottom: 9px;
    width: 100%;
  }

  .gp_presentation {
    margin-left: 10%;
  }

  .localisation_avatar_page {
    font-size: 13px;
    margin-bottom: 13px;
  }

  .tagline_avatar_home_page {
    font-size: 13px;
  }

  .img_avatar_page {
    display: flex;
    justify-content: center;
    padding-right: 5%;
  }
  .img_avatar_page img {
    width: 150px;
    height: 150px;
    margin-top: 0px;
    margin-top: 0px;
  }
}
.top-btn {
  display: none;
  position: fixed;
  top: 20px;
  right: 115px;
  z-index: 2;
  border: none;
  outline: none;
  background: #DB8876;
  color: black;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  font-size: 13px;
}
.top-btn:hover {
  background-color: #901C1C;
  color: white;
}

@media screen and (min-width: 768px) {
  .top-btn {
    display: none;
    position: fixed;
    top: 20px;
    right: 45.5%;
    z-index: 2;
    border: none;
    outline: none;
    background: #DB8876;
    color: black;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-size: 13px;
    justify-content: center;
  }
  .top-btn:hover {
    background-color: #901C1C;
    color: white;
  }
}

/*# sourceMappingURL=custom.css.map */
