/*---------------------------- VARIABLES ----------------------------------*/

:root {
    --font-default: "DM Sans", Arial, Helvetica, sans-serif;
    --font-slab: var(--font-default);
    --modal-duration: 0.8s;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*---------------------------- BODY ----------------------------------*/

body {

    font-family: var(--font-default);
    
    .maxcontainer {
        max-width: 1280px;
        margin: auto;
    }
}
