/*---------------------------- VARIABLES ----------------------------------*/

:root {
    --font-default: "DM Sans", Arial, Helvetica, sans-serif;
    --font-slab: var(--font-default);
    --modal-duration: 0.8s;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*---------------------------- BODY ----------------------------------*/

body {
    font-family: var(--font-default);
}

body h1 {
    font-family: var(--font-default);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    color:#901C1C;
    margin-bottom: 5%;
    margin-top: 5%;
}

.header-png img {
    height: 37.5px;
    width: 150px;
    border-radius: 0px;
    margin-top: 10%;
    margin-bottom: 6%;
}

.header-png {
    padding: 5%;
}
