// COLOR

$color-primary: #901C1C;
$color-secondary: #DB8876;
$color-tertiary: #D3573C;
$color-grey: #757575;
$color-black: #000000;
$color-darkgrey: #232323;
$color-textwhite: #fff;
$color-textgrey: #312E2E;
$color-white: white;
$color-border: #C4C4C4;